.container {
	gap:50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #dd00ff00;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	flex-wrap: wrap;
	/* gap: 4%; */
}

.card {
	display: flex;
	align-items: center;
	background-color: #282828;
	width: 600px;
	height: 250px;
    max-width: 600px;
	max-height: 250px; 
	gap: 40px;
	margin: 15px;
	border-radius: 10px;
	box-shadow: 1.5px 1.5px 5px #1ed65e;
	background-image: linear-gradient(
		180deg,
		#323232,
		#282828
	 );
}

.cardArtist {
	display: flex;
	align-items: center;
	background-color: #282828;
	width: 600px;
	height: 320px;
    max-width: 600px;
	max-height: 320px; 
	gap: 40px;
	margin: 15px;
	border-radius: 10px;
	box-shadow: 1.5px 1.5px 5px #1ed65e;
	background-image: linear-gradient(
		180deg,
		#323232,
		#282828
	 );
}

.img {
	background-color: #84e932;
	width: 280px;
	height: 190px; 
	max-width: 77%;
	max-height: 300px;
	border-radius: 3%;

}

/* .imgCard > .img {
	max-width: 100%;
} */

.img > .imgCard {
	/* max-width: 100%; */
}

.imgCard {
	background-color: rgba(16, 68, 157, 0);
	max-width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoImg {
	background-color: rgba(16, 68, 157, 0);
	width: 50%;
	text-align: left;
}

h2 {
	font-family: system-ui;
	color: transparent;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -0.015em;
	background-image: linear-gradient(
	   180deg,
	   #1ed65e,
	   #1ed65e
	);
	background-clip: text;
	-webkit-background-clip: text;
	
 } 
 
 h3 {
	font-family: system-ui;
	color: transparent;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -0.015em;
	background-image: linear-gradient(
	   180deg,
	   #ffffff,
	   #c4c4c4
	);
	background-clip: text;
	-webkit-background-clip: text;
 } 

 audio::-webkit-media-controls-panel {
	background-color: #1ed65e;
  }

 audio{
	width:80%;
 }